*{
    margin :2;
    padding: 2;
}
body{
    background-color: black;
    color: aqua;
}

.cards1,.cards2,.cards3{
    border: 2px solid;
    border-color: blue;
    width:450px;
    margin-top: 10px ;
    background-color: black;

}
.cards1{
    display: flex ;
    flex-direction: column;
    gap: 17px;

}
.cards2{
    display: flex ;
    flex-direction: column;
    position: relative;
    left: 650px;
}
.cards3{
    display: flex ;
    flex-direction: column;
    position: relative;
    left: 650px;


}

.BorderImg{
    border: 4px inset;
    border-color: blueviolet;
    width:fit-content;
    margin-top: 13px auto;
}

#cards{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 17px;
}

.cards1 ul li:hover
{
    transform: scale(1.1);

}


.card ul li
{
    transition: transform 0.5s;
}